@CHARSET "UTF-8";

#header {
	overflow: hidden;
	width: 100%;
	text-shadow: none;
}

#contact {
	width: 170px;
	float: left;
}

#summary {
	width: auto;
	float: none;
	margin-right: 10px;
}

#contentWrapper {
	width: 100%;
	margin: 0;
}

#content {
	margin: 0;
	width: 100%;
}

#content p,#content ul {
	margin-right: 10px;
}

#content ul {
	margin-left: 5px;
}

h2 {
	width: 95%;
	margin: 0 0 0 0;
	border: 2px solid black;
	font-weight: bold;
}

h3 {
	width: 94%;
	margin: 5px 0px 5px 5px;
	padding: 5px 10px 5px 10px;
	color: black;
	border: 1px solid #DDD;
}

body {
	font-family: georgia, garamond, serif;
	font-size: 12px;
	line-height: 1.2;
}

#content ul.gallery li a {
	width: 45px;
	height: 75px;
	font-size: 11px;
}

#content ul.gallery li a img {
	/** Reset filters, since it'll print black */
	filter: alpha(opacity =       100);
	-moz-opacity: 1;
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height: 40px;
	width: 40px;
}

.skill-table {
	margin-top: 10px;
	margin-left: 10px;
}

.skill-table table {
	vertical-align: middle;
	border: 1px solid #CCC;
	border-collapse: collapse;
	width: 95%;
}

#other .other-block {
	float: left;
	width: 320px;
	margin: 10px 15px 0 0;
	height: 9em;
}

#other .other-block h3 {
	width: 310px;
	margin: 0 0 10px 0;
	padding: 0 0 0 10px;
	width: 100%;
}

#other .other-block p {
	padding: 0 0 0 10px;
}