@CHARSET "UTF-8";

#header {
	overflow: hidden;
	width: 100%;
	text-shadow: none;
}

#contact {
	width: 170px; 
	float: left;
}

#summary {
	width: auto;
	float: none;
}

#contentWrapper {
	width: 100%;
	margin: 0;
}

#content {
	border: 1px solid green;
	margin: 0;
	width: 100%;
}

h2 {
	width: 99%;
	margin: 0 0 0 0;
}

h3 {
	width: 99%;
	margin: 0 0 0 5px;
}

body {
	font-family:georgia,garamond,serif;
	font-size: 12px;
	line-height: 1.1;
}

#content ul.gallery li a img {
	/** Reset filters, since it'll print black */
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;	
}
